body {
    font-family: 'Inika', serif;
    background-color: #fefefe;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 100;
}

#modal-toggle:checked+.modal-overlay {
    display: block;
}

.modal-form__button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.form {
    background: #fff;
    width: 60%;
    margin: 5% auto;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    color: #4a3f35;
}

.modal-table__inner {
    width: 100%;
}

.modal-table__header {
    padding: 15px 0 15px 40px;
    width: 35%;
    text-align: left;
    color: #8b7969;
    font-weight: bold;
}

.modal-table__text {
    padding: 0 15px 0 15px;
    border-bottom: 1px solid #ddd;
}

.modal-table__text input {
    color: #8b7969;
    width: 100%;
    outline: none;
    border: none;
}

.modal-table__row:last-child .modal-table__header,
.modal-table__row:last-child .modal-table__text {
    border-bottom-width: 0;
}

.modal__button {
    margin-top: 40px;
    text-align: center;
}

.modal__button-delete {
    background-color: red;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}